:root {
    /*--------------------Light Theme Variables (Default)--------------------*/
    --light-theme-background-color: #fffffe;
    --light-theme-articlesHeader-color: #44444f;
    --light-theme-text-color: #33333f;
    --light-theme-hover-color: #444;
    /*--------------------Dark Theme Variables--------------------*/
    --dark-theme-background-color: #101010;
    --dark-theme-articlesHeader-color: ivory;
    --dark-theme-text-color: #fff;
    --dark-theme-hover-color: #383838;
}

.body {
    background-color: var(--light-theme-background-color);
    font-size: 16px;
}

.container {
    width: 95vw;
    text-align: center;
    margin: auto;
}

.head-title {
    display: inline-block;
}

.my-name {
    font-size: 13vw;
    font-weight: 400;
    line-height: 1.1;
    margin: 2vh 0 1vh 0;
    color: var(--light-theme-text-color);
    width: 100%;
    font-family: "Coustard", serif;
    border-bottom: 1px dotted #ccc;
}

.my-name:hover {
    color: #000;
}

.nav-element {
    color: var(--light-theme-hover-color);
    text-decoration: none;
    font-family: "Coustard", serif;
    font-size: 4vw;
}

.nav-element:hover {
    color: var(--light-theme-hover-color);
}

.nav-element.active {
    color: #B8860B;
}

.navbar {
    margin-top: 3vh;
    display: flex;
    padding: 1vh;
    justify-content: space-around;
    border-style: solid;
    border-width: 1px 0;
    border-color: #eee;
}

.profileSection {
    display: flex;
    flex-direction: column;
    margin: 5vh 5vh 3vh 5vh;
}

.articlesSection {
    margin: 5vh 5vh 3vh 5vh;
    font-family: "Lora", Georgia, serif;
}

.articlesHeader {
    font-family: "Coustard", serif;
    font-weight: 400;
    color: var(--light-theme-background-color);
    letter-spacing: 0.5vw;
    font-size: 9vw;
}

.articlesList {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.aricleItem {
    margin-top: 2vh;
}

.profileImage {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileText {
    width: 100%;
    padding: 3vw;
    box-sizing: border-box;
    text-align: left;
    font-family: "Lora", Georgia, serif;
}

.myPhoto {
    max-width: 100%;
    max-height: 30vh;
    width: auto;
    height: auto;
}

.infoHeader {
    font-size: 5vw;
    font-family: "Libre Baskerville", serif;
}

.infoText {
    font-size: 4vw;
}

hr {
    padding: 0 0 0.1vh 0;
    outline: 0;
    border-width: 0 0 0.1vw 0;
    border-style: dashed;
    border-color: #ccc;
}

.aricleItem {
    padding: 1.2em 0 .6em 0;
    border-bottom: 1px dashed #ddd;
}

.aricleTitle {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.aricleDate {
    display: none;
}

.social-logos {
    border-top-style: dotted;
    border-top-color: #ccc;
    padding-top: 2vh;
}

.social-logos>a {
    padding-right: 1vw;
}

.social-logos>a>img {
    max-width: 30%;
    max-height: 7vh;
    width: auto;
    height: auto;
}

/* CERTIFICATES */

ul.cerificates-container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.certificate-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.certificate-text {
    position: absolute;
    color: #fff;
    background: #A9A9A9;
    padding: 0 1em;
    top: 10px;
    right: 11px;
    font-size: 1em;
    z-index: 3;
}

.certificate-text-bottom {
    position: absolute;
    color: #fff;
    background: #A9A9A9;
    padding: 0 1em;
    bottom: 10px;
    right: 11px;
    font-size: 0.5em;
    z-index: 3;
}

.cerificates-container>.certificate:hover {
    opacity: .8;
    color: #fff;
    background: black;
    transition: background-color 1s ease-in;
}

.cerificates-container>.certificate.noBackgroundChange:hover {
    background: initial;
}

.cerificates-container>.certificate {
    flex-grow: 1;
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    margin: 1px;
    padding: 0;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: auto;
    height: auto;
    border: 1px solid #ccc;
}

.cerificates-container>.certificate.noBorder {
    border: none;
}

.cerificates-container>.certificate.noBorder:hover {
    border: none;
    background: initial;
}

.useMontserratFont {
    font-family: 'Montserrat', serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-theme-background-color)!important;
    }
    .profileText {
        color: var(--dark-theme-text-color);
    }
    .my-name {
        color: var(--dark-theme-text-color);
    }
    .my-name:hover {
        color: var(--dark-theme-hover-color)
    }
    .nav-element {
        color: var(--dark-theme-text-color);
    }
    .nav-element:hover {
        color: var(--dark-theme-hover-color);
    }
    .myImage {
        filter: brightness(50%)contrast(100%);
    }
    .certificate {
        filter: brightness(50%);
    }
    .social-logos {
        filter: invert(100%);
    }
    .articlesHeader {
        color: var(--dark-theme-articlesHeader-color);
    }
    ul.cerificates-container {
        background-color: #202020
    }
}

@media (min-width: 500px) {
    .my-name {
        font-size: 12vw;
    }
    .container {
        width: 85vw;
        text-align: center;
        margin: auto;
    }
    .nav-element {
        font-size: 3vw;
    }
    .profileSection {
        flex-direction: row;
    }
    .profileImage {
        width: 50%;
    }
    .profileText {
        width: 50%;
    }
    .infoHeader {
        font-size: 2.5vw;
    }
    .infoText {
        font-size: 1.8vw;
    }
    .myPhoto {
        max-height: 60vh;
    }
    .articlesHeader {
        font-size: 7vw;
    }
}

@media (min-width: 800px) {
    .my-name {
        font-size: 10vw;
    }
    .nav-element {
        font-size: 2vw;
    }
    .infoHeader {
        font-size: 2vw;
    }
    .infoText {
        font-size: 1.7vw;
    }
    .articlesHeader {
        font-size: 6vw;
    }
}

@media (min-width: 900px) {
    .my-name {
        font-size: 9vw;
    }
    .infoHeader {
        font-size: 1.8vw;
    }
    .infoText {
        font-size: 1.3vw;
    }
    .articlesHeader {
        font-size: 5vw;
    }
}

@media (min-width: 1000px) {
    .my-name {
        font-size: 7vw;
    }
    .nav-element {
        font-size: 1.5vw;
    }
    .articlesHeader {
        font-size: 3vw;
    }
    .cerificates-container>.certificate {
        width: 35vw;
        font-size: 1.4vw;
    }
}