* {
   box-sizing: border-box;
}

html,body{
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: "Noto Serif" , serif;
}

body{
    background-image: linear-gradient(to top, 
    rgba(19, 21, 25, 0.5), 
    rgba(19, 21, 25, 0.5));
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

main{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.box {
    background: linear-gradient(#4C4C4C,#3D4C42);
    opacity: 0.9;
    text-align: center;
    padding: 4em;
    border-radius: 1em;
    margin: 1em;
}

a {
    text-decoration: none;
    color: inherit;
    text-shadow: -2px 2px #000;
    transition:color .2s ease-in;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #B2A1A1;
}

.attribution{
    position: fixed;
    right: 2%;
    bottom: 1em;
    font-size: 0.8em;
    font-style: italic;
}

.copyright{
    display: block;
}

@media screen and (max-device-width: 640px) {
    .attribution{
        font-size: .2em;
    }

    .box{
        padding: 2em;
    }
}