* {
   box-sizing: border-box;
}

html,body{
    height: 100vh;
    padding: 0;
    margin: 0;
}

#topBar{
    display: flex;
    justify-content: space-between;
    background: #a15229;
    height: 10vh;
}

#mainHeader{
    margin: auto 0 auto 0.5em;
    color: #fff;
}

#topBar nav{
    display: flex;
}

#topBar nav a{
    margin: auto 1em auto 0;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
}


main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1em;
    height: 85vh;
    overflow: hidden;
}

.icon{
    height: 1em;
}

.copyright{
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    background: #fff;
    font-weight: 300;
}

#canvas{
    border: 2px solid #363650;
    max-width: 100%;
    max-height: 100%;
    margin: 1em;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 600;
    font-size: 1.4em;
    margin: 1em 0;
    
}

.form > label {
    padding: 1em 0.2em;
}

.form > input {
    padding: 1em 10em 0.5em 0.2em;
}

#uploadLabel{
    margin-top: 2em;
    font-style: italic;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}